################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/spotifySongAttributes/main/__pycache__
*.env
