<!DOCTYPE html>
<html>
<head>
    <title>Spotify Playlist Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Playlist: {{ playlist['playlist_metadata']['name'] }}</h1>
    <p>Number of Tracks: {{ playlist['playlist_metadata']['track_count'] }}</p>

    <h4>Top Supergenres:</h4>
    <ul class="genre-list" id="supergenre-list">
        {% for genre, count in playlist['supergenre_distribution'] %}
            <li class="genre-item">{{ genre }} {{ (count | float) | round(2) }}%</li>
        {% endfor %}
    </ul>

    <h4>Top Subgenres:</h4>
    <ul class="genre-list" id="subgenre-list">
        {% for genre, count in playlist['subgenre_distribution'] %}
            {% if loop.index <= 10 %}
                <li class="genre-item">{{ genre }} {{ (count | float) | round(2) }}%</li>
            {% else %}
                <li class="genre-item hidden extra-item">{{ genre }} {{ (count | float) | round(2) }}%</li>
            {% endif %}
        {% endfor %}
    </ul>

    <h1>Subgenre Polar Area Chart</h1>
    <div class="chart-container"><canvas id="subgenreChart"></canvas></div>
    <h1>Supergenre Polar Area Chart</h1>
    <div class="chart-container"><canvas id="supergenreChart"></canvas></div>

    <h2>Compare with More Playlists</h2>
    <input type="text" id="playlistUrl" placeholder="Enter playlist URL" style="width: 400px; margin-right: 10px;">
    <button onclick="addPlaylist()">Add Playlist</button>
    <button onclick="clearChart()">Clear Chart</button>

    <h1>Supergenre Spider Chart (Comparison)</h1>
    <div style="width: 700px; height: 700px;">
        <canvas id="spiderChart"></canvas>
    </div>

    <script>
        let playlists = [];
        const colorPalette = [
            'rgba(54, 162, 235, 0.4)', 'rgba(255, 99, 132, 0.4)',
            'rgba(75, 192, 192, 0.4)', 'rgba(153, 102, 255, 0.4)'
        ];

        function extractPlaylistId(url) {
            try {
                const parts = url.split('/');
                return parts[parts.length - 1].split('?')[0];
            } catch (error) {
                return null;
            }
        }

        async function addPlaylist() {
            const url = document.getElementById('playlistUrl').value;
            const playlistId = extractPlaylistId(url);

            try {
                const response = await fetch(`/get_playlist/${playlistId}`);
                const data = await response.json();

                if (data.error) {
                    alert("Error fetching playlist: " + data.error);
                    return;
                }

                const supergenreData = data.supergenre_distribution;
                console.log("test")


                const currentPlaylist = ['{{ playlist['playlist_metadata']['name'] }}', {{ playlist['supergenre_distribution'] }}];
                playlists.push(currentPlaylist);
                playlists.push([data.playlist_metadata.name, supergenreData]); //comparison
                console.log(playlists)
                updateSpiderChart();
            } catch (error) {
                alert(error);
            }
        }

        function clearChart() {
            playlists = [];
            updateSpiderChart();
        }

        function updateSpiderChart() {
            const labels = playlists[0][1].map(item => item[0]);
            const datasets = playlists.map((playlist, index) => {
                return {
                    label: playlist[0],
                    data: playlist[1].map(item => item[1]),
                    backgroundColor: colorPalette[index % colorPalette.length],
                    borderWidth: 2
                };
            });
            console.log(labels);
            console.log(datasets);
            const ctx = document.getElementById('spiderChart').getContext('2d');
            if (window.spiderChart instanceof Chart) {
                window.spiderChart.destroy();
            }

            window.spiderChart = new Chart(ctx, {
                type: 'radar',
                data: { labels, datasets },
                options: { responsive: true }

            });
        }
    </script>
</body>
</html>
